/* titillium font */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/* CSS RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

body{
     font-family: 'Titillium Web', sans-serif;
     background-image: url("top.jpg");
     background-repeat: repeat-x;
}

div#content{
     max-width: 1020px;
     margin: auto;
     margin-top: 20px;
     font-family: 'Titillium Web', sans-serif;
}

div#header{
     margin: auto;
     font-family: 'Titillium Web', sans-serif;
     display: inline-block;
     padding: 0px 0px 0px 0px;
}

div#logo{
     clear: left;
     margin: none;
     padding: 0px;
}

div#logo h1{
     text-decoration: none;
     margin: 0px 0px -20px 0px;
     font-size: 36px;
}

div#logo h1 a{
     text-decoration: none;
     font-size: 36px;
     transition: all 0.5s ease-out;
     color: #2e2e2e;
}

div#logo h1 a:hover {
     color: #54e2f5;
}

div#menu{
     font-family: 'Titillium Web', sans-serif;
     display: inline-block;
     list-style-type: none;
     padding: 20px 0px 20px 0px;
     clear: right;
}

div#menu ul{
     padding: 0px;
}

div#menu li{
     display: inline;
     padding-right: 10px;
}

div#menu a{
     text-decoration: none;
     color: #54e2f5;
     transition: all 0.5s ease-out;
}

div#menu a:hover {
     text-decoration: none;
     color: #f55acf;
     transition: all 0.2s ease;
}

div#image img {
     width: auto\9;
     height: auto;
     overflow: auto;
     width: 100%;

}

div#main_content {
     padding: 10px 0px 30px 0px;
     width: 50%;
     margin-left: 50%;
}

footer {
     background: #464646;
     margin: 0px 0px 0px 0px;
     padding: 20px 0px 0px 0px;
     position: relative;
     bottom: 0px;
     width: 100%;
}

footer p {
     color: #fff;
     max-width: 1020px;
     margin: auto;
     padding: 0px 0px 20px 0px;
}

path {
     transition: all 0.2s ease;
}

path:hover {
     fill: #54e2f5;
}

a {
     text-decoration: none;
     color: #54e2f5;
     transition: all 0.5s ease-out;
}

a:hover {
     text-decoration: none;
     color: #f55acf;
     transition: all 0.2s ease;
     background: #efefef;
}
